{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <form method="POST" action="login">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Nome de usuáro</label>
                    <input type="text" class="form-control" id="id_username" name="username">
                </div>
                <div class="form-group">
                    <label for="id_password">Senha</label>
                    <input type="password" class="form-control" id="id_password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Efetuar login</button>
            </form>
        </div>
    </div>

{% endblock %}
