{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-12">
                <h5 class="text-center">Escrever post</h5>

                <form method="POST" action="create_post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" name="body" id="id_body" maxlength="200" required rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <br>
    {% endif %}


    <div class="row">
        <div class="col-12">
            <h5 class="text-center">Posts</h5>
        </div>
    </div>

    {% if posts %}
        {% for post in posts %}
            <div class="row">
                <div class="offset-2 col-8">
                    <div class="card">
                        <div class="card-header text-center">
                            <b>
                                {% if post.owner.get_full_name %}
                                    {{ post.owner.get_full_name }}
                                {% else %}
                                    {{ post.owner.username }}
                                {% endif %}
                            </b>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{ post.body }}
                            </p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    {% if post.owner == user %}
                                        <form method="POST" action="delete_post/{{ post.id }}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Apagar post</button>
                                        </form>
                                    {% endif %}
                                </div>
                                <div class="text-muted">
                                    Comentários: {{ post.comments.count }}
                                </div>
                            </div>
                            {% if post.comments or user.is_authenticated %}
                                <hr>
                            {% endif %}
                            {% if post.comments %}
                                <p>Comentários:</p>
                                {% for comment in post.comments.all %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                        <b>
                                                            {% if comment.owner.get_full_name %}
                                                                {{ comment.owner.get_full_name }}
                                                            {% else %}
                                                                {{ comment.owner.username }}
                                                            {% endif %}
                                                        </b>
                                                    <p class="card-text">
                                                        {{ comment.body }}
                                                    </p>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            {% if comment.owner == user %}
                                                                <form method="POST" action="delete_comment/{{ comment.id }}">
                                                                    {% csrf_token %}
                                                                    <button type="submit" class="btn btn-danger">Apagar comentário</button>
                                                                </form>
                                                            {% endif %}
                                                        </div>
                                                        <small class="text-muted">
                                                            Comentário feito em {{ comment.created_at }}
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                {% endfor %}
                            {% endif %}
                            {% if user.is_authenticated %}
                                <div class="row">
                                    <div class="col-12">
                                        <form method="POST" action="create_comment/{{ post.id }}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="id_body">Escrever comentário</label>
                                                <textarea class="form-control" name="body" id="id_body" maxlength="200" required rows="3"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-footer text-muted">
                            <small>Post feito em {{ post.created_at }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-12">
                <p>Não existem posts.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
